VITE_SUPABASE_URL=https://sesicjcpjnaecryevlcz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlc2ljamNwam5hZWNyeWV2bGN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2MjI3MjcsImV4cCI6MjA4NTE5ODcyN30.DKAoytN7xadn1VWbAo1zJiYes5xPcc3BAuNxoI-rAEA